timer-bar::part(timerbar-root) {
    border: initial !important;
    box-sizing: initial !important;
}


timer-bar::part(text) {
    font-family: "Arial", "Microsoft YaHei", sans-serif !important;
    font-weight: 300 !important;
}


timer-bar::part(text-container) {
    left: 0 !important;
    top: 0 !important;
}

timer-bar::part(timerbar-righttext) {
    font-family: "Consolas", sans-serif !important;
}
